#corpo{
    background-color: greenyellow;
}
#titu{
    background-color: white;
    font-size: 100px;
}
#po{
    margin-left: 25px;
    font-size: 30px;
}
#tempo{
    margin-left: 1100px;
    font-size: 30px;
}
#esboco{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#esboc{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#esbo{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}